/* page.module.css */

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.scroll-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section {
  height: 100vh;
}

.hero {
  background-color: #333;
}

.gradient-purple {
  background: linear-gradient(135deg, #a4508b, #5f0a87);
}

.gradient-blue {
  background: linear-gradient(135deg, #006cff, #0072ff);
}
